body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRif8Yl9DMeg5UvyUWDADY_ew1R7l-qSh1Ax2hNy2svUN0t7A-O7qb_zZaw16nUTBNZQ3c&usqp=CAU");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
